/* :root {
  --anim-name: none;
  --anim-duration: 1s;
  --anim-timing-function: ease;
  --anim-delay: 0.1s;
  --anim-iteration-count: 1;
} */
[anim] {
  animation-name: none;
  animation-duration: 0s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}

/* Direction */
[anim~='normal'] {
  animation-direction: normal;
}
[anim~='reverse'] {
  animation-direction: reverse;
}
[anim~='alternate'] {
  animation-direction: alternate;
}
[anim~='reverse-alternate'] {
  animation-direction: alternate-reverse;
}

/* Animation Keyframes */
/* Slide In */
[anim^='fade-in'] {
  animation-name: fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-bottom {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-top {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-back {
  from {
    transform: scale(.8);
    opacity: 0;
  }

  to {
    transform: translateY(1);
    opacity: 1;
  }
}

[anim^='rotate-right-360'] {
  animation-name: rotate-right-360;
}

@keyframes rotate-right-360 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-left-360 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes dance {
  0% {
    transform: scaleX(1) translate(0, 0px);
  }

  1% {
    transform: scaleX(-1) translate(0, 20px);
  }

  40% {
    transform: scaleX(-1) translate(0, 20px);
  }

  41% {
    transform: scaleX(1) translate(0, 0px);
  }

  80% {
    transform: scaleX(1) translate(0, 0px);
  }

  81% {
    transform: scaleX(1) translate(0, 20px);
  }

  100% {
    transform: scaleX(1) translate(0, 20px);
  }
}


/* Durations */
[anim~="dur:.5s"] {
  animation-duration: .5s;
}

[anim~="dur:1s"] {
  animation-duration: 1s;
}

[anim~="dur:2s"] {
  animation-duration: 2s;
}

[anim~="dur:3s"] {
  animation-duration: 3s;
}

[anim~="dur:4s"] {
  animation-duration: 4s;
}

/* Delays */
[anim~="del:.5s"] {
  animation-delay: .5s;
}

[anim~="del:1s"] {
  animation-delay: 1s;
}

[anim~="del:2s"] {
  animation-delay: 2s;
}

[anim~="del:3s"] {
  animation-delay: 3s;
}

[anim~="del:4s"] {
  animation-delay: 4s;
}

/*  #######
/*     #    # #    # # #    #  ####
/*     #    # ##  ## # ##   # #    #
/*     #    # # ## # # # #  # #
/*     #    # #    # # #  # # #  ###
/*     #    # #    # # #   ## #    #
/*     #    # #    # # #    #  ####
*/
[anim~='linear'] {
  animation-timing-function: linear;
}

[anim~='ease'] {
  animation-timing-function: ease;
}

[anim~='ease-in-out'] {
  animation-timing-function: ease-in-out;
}

[anim~='ease-out'] {
  animation-timing-function: ease-out;
}

[anim~='ease-in'] {
  animation-timing-function: ease-in;
}

/*  ###
/*   #  ##### ###### #####    ##   ##### #  ####  #    #
/*   #    #   #      #    #  #  #    #   # #    # ##   #
/*   #    #   #####  #    # #    #   #   # #    # # #  #
/*   #    #   #      #####  ######   #   # #    # #  # #
/*   #    #   #      #   #  #    #   #   # #    # #   ##
/*  ###   #   ###### #    # #    #   #   #  ####  #    #
*/
[anim~='play:1'] {
  animation-iteration-count: 1;
}

[anim~='play:2'] {
  animation-iteration-count: 2;
}

[anim~='play:3'] {
  animation-iteration-count: 3;
}

[anim~='play:4'] {
  animation-iteration-count: 4;
}

[anim~='infinite'] {
  animation-iteration-count: infinite;
}

/* Names */
[anim^='rotate-left-360'] {
  animation-name: rotate-left-360;
}

[anim^='slide-in-back'] {
  animation-name: slide-in-back;
}

[anim^='slide-in-top'] {
  animation-name: slide-in-top;
}

[anim^='slide-in-bottom'] {
  animation-name: slide-in-bottom;
}

[anim^='marquee'] {
  animation-name: marquee;
}

[anim^='dance'] {
  animation-name: dance;
}

.marquee {
  background-color: black;
  color: lime;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.marquee div {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}
